<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <script src="/javascripts/index.js"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 <title>Myntra OnlineShopping.com</title>
 
  



    </style>
</head>
<body>
  <%- include('header')%>
   
   

<div class="first">
     <h1>Free Shipping For You Till Midnight</h1>
     <!-- <div class="shipping">
        <i class="material-icons-outlined">local_shipping </i>
     </div> -->
</div>

<div class="sale">
    <img src="/books/slider.jpg" alt="" >
</div>
<!-- <div class="sale2">
   
    <img src="img/myntra4.jpg" alt="">
    
   
    <img src="img/M7.jpg" alt="" >
</div> -->
<!-- <h1><img src="img/logo2.webp" alt=""></h1> -->
<h1>Deal Zone</h1>
<div class="cards ">

    <div class="card "  >
       <img src="books/book_romance1.jpg" class="card-img-top " alt="..."> 

      <form action="/bag" method="POST">
        <input type="hidden" name="img" value="books/book_romance1.jpg">
        <input type="hidden" name="info" value="Price:-$300">
        <button type="submit" class="btns ">Add To Cart</button>
        <button type="submit" class="btns ">Download</button>
      </form>
      
       
      </div>

      <div class="card" >
        <img src="books/book_romance2.jpg" class="card-img-top" alt="...">
        <form action="/bag" method="POST">
          <input type="hidden" name="img" value="books/book_romance2.jp">
          <input type="hidden" name="info" value="Price:-$200">
          <button type="submit" class="btns ">Add To Cart</button>
        <button type="submit" class="btns ">Download</button>
        </form>
      </div>
      <div class="card" >
        <img src="books/book_romance3.jpg" class="card-img-top" alt="...">
        <form action="/bag" method="POST">
          <input type="hidden" name="img" value="books/book_romance3.jpg">
          <input type="hidden" name="info" value="Bag">
          <button type="submit" class="btns ">Add To Cart</button>
          <button type="submit" class="btns ">Download</button>
        </form>
      </div>
      <div class="card" >
        <img src="books/book_romace4.jpg" class="card-img-top" alt="...">
        <form action="/bag" method="POST">
          <input type="hidden" name="img" value="books/book_romace4.jpg">
          <input type="hidden" name="info" value="Bag">
          <button type="submit" class="btns ">Add To Cart</button>
        <button type="submit" class="btns ">Download</button>
        </form>
      </div>
      <div class="card" >
        <img src="books/book_romance5.jpg" class="card-img-top" alt="...">
        <form action="/bag" method="POST">
          <input type="hidden" name="img" value="books/book_romance5.jpg">
          <input type="hidden" name="info" value="Bag">
          <button type="submit" class="btns ">Add To Cart</button>
        <button type="submit" class="btns ">Download</button>
        </form>
      </div>
</div>

<h1>Shop top Brands</h1>
<div class="cards">

    <div class="card" >
        <img src="books/lang.jpg" class="card-img-top" alt="...">
       
      </div>

      <div class="card" >
        <img src="books/lang1.jpg" class="card-img-top" alt="...">
        
      </div>
      <div class="card" >
        <img src="books/lang2.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/lang3.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/lang4.jpg" class="card-img-top" alt="...">
       
      </div>
</div>
<h1>Best Selling Styles</h1>
<div class="cards">

    <div class="card" >
        <img src="books/sport.jpg" class="card-img-top" alt="...">
       
      </div>

      <div class="card" >
        <img src="books/sport1.jpg" class="card-img-top" alt="...">
        
      </div>
      <div class="card" >
        <img src="books/sport2.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/sport3.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/sport4.jpg" class="card-img-top" alt="...">
       
      </div>
      
      <div class="card" >
        <img src="books/comic.jpg" class="card-img-top" alt="...">
       
      </div>

      <div class="card" >
        <img src="books/comic2.jpg" class="card-img-top" alt="...">
        
      </div>
      <div class="card" >
        <img src="books/comic3.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/comic4.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/comic5.jpg" class="card-img-top" alt="...">
       
      </div>
      
    <div class="card" >
        <img src="books/crime1.jpg" class="card-img-top" alt="...">
       
      </div>

      <div class="card" >
        <img src="books/crime2.jpg" class="card-img-top" alt="...">
        
      </div>
      <div class="card" >
        <img src="books/crime3.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/crime4.jpg" class="card-img-top" alt="...">
       
      </div>
      <div class="card" >
        <img src="books/crime5.jpg" class="card-img-top" alt="...">
       
      </div>
</div>
 



<footer class="bg-white">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Online Shopping</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Contact Us</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">About Us</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Stories</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Press</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Useful Links</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Payments</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Shipping</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Cancellation</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Returns</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Return Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Terms Of Use</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Security</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Sitemap</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Creator Contact</h6>
              
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="https://wa.me/916295801848" target="_blank" title="twitter"><i class="fab fa-2x fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/kadev3158/" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class=" py-2">
     
        <div class="container " id="big">
            <h5>ONLINE SHOPPING MADE EASY AT Book's Kart</h5>
            <p class="text-muted mb-0 py-2">If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Myntra is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at Myntra from the comfort of your home and get your favourites delivered right to your doorstep..</p>
        </div>
        <div class="container" id="big">
            <h5>Book's Kart</h5>
            <p class="text-muted mb-0 py-2">Book's Kart, India’s no. 1 online fashion destination justifies its fashion relevance by bringing something new and chic to the table on the daily. Fashion trends seem to change at lightning speed, yet the Myntra shopping app has managed to keep up without any hiccups. In addition, Myntra has vowed to serve customers to the best of its ability by introducing its first-ever loyalty program, The Myntra Insider. Gain access to priority delivery, early sales, lucrative deals and other special perks on all your shopping with the Myntra app. Download the Myntra app on your Android or IOS device today and experience shopping like never before!p>
        </div>
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© Riya All risghts reserved.</p>
        </div>

    </div>
</footer>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>