<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <script src="index.js"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 <title>Myntra OnlineShopping.com</title>
 
  



    </style>
</head>
<body>
  <%- include('header')%>
   
  

    <div class="logsign">
        <div class="form" >
            <form action="/login" method="POST">
                <a href="" id="tag"><h1 style="font-family: 'Satisfy', cursive; ">Book's Kart</h1></a> 

                   
                <p>Name</p>
                <input type="text"name="name" placeholder="Name" /required>
               
                <p>Phone No</p>
                <input type="text"name="no" placeholder="Phone no" /required>
                <span >By continiung ,I agree to the Term of use &  <a href="/">Policy</a></span> 
                <span >Have an Account  <a href="/myntra">Login</a></span> 
                <button type="submit"class="btn" value="submit">Continue</button>
                
            
            </form>  
            </div>
    </div>
   

   
</body>
</html>